<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SomeiOSTipS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DDECE6391CE0413200AD77E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDECE6521CE0413200AD77E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDECE65D1CE0413200AD77E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDECE6781CE18C7E00AD77E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
